body {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3 {
    font-weight: 900;
}
h2 {
    font-size: 3rem;
}

.header {
    background-image: url(../img/superior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 40rem;  

}
.navbar-toggler {
    background-color: white;
}
.nombre-sitio {
    font-size: 2.4rem;
    font-weight: 300;
}
.nombre-sitio span {
    font-weight: 900;
}
.nav-link {
    color: white!important;
}
@media (min-width:992px) {
    .header .nav-link:first-child::before {
        display: none;
    }
    .header .nav-link::before {
        content: '|';
        margin-right: 1.2rem;
    }
}
.telefono::before {
    background-image: url(../img/icono_telefono.png);
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}
/** Nosotros */
.sobre-nosotros-bg {
    min-height: 44rem;
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}
@media (min-width:768px) {
    .sobre-nosotros-bg {
        min-height: 36rem;
    }
}